.btn, h6, ol li, p, ul li, a {
	font-size: .69rem;
}

.top-toolbar .navbar-nav .nav-item.nav-text>a {
	font-size: .69rem;
}

.dropdown .dropdown-menu .dropdown-item, .dropleft .dropdown-menu .dropdown-item, .dropright .dropdown-menu .dropdown-item, .dropup .dropdown-menu .dropdown-item, .input-group .dropdown-menu .dropdown-item {
	font-size: .69rem;
}

.btn.btn-sm, a:link.btn.btn-sm {
    padding: 0.35rem .6rem;
    font-size: .69rem;
    height: 28px;
    line-height: 1rem;
}

.table-sm th, .table-sm td {
    padding: .3rem;
}

.table thead th {
    border-top: none;
    font-weight: 600;
}

.card .card-header {
	padding: 10px 15px;
}

small, .small {
    font-size: 65%;
    font-weight: 400;
}

.dataTables_info {
    font-size: .69rem;
}