.btn, h6, ol li, p, ul li, a {
	font-size: .69rem;
}

.top-toolbar .navbar-nav .nav-item.nav-text>a {
	font-size: .69rem;
}

.dropdown .dropdown-menu .dropdown-item, .dropleft .dropdown-menu .dropdown-item, .dropright .dropdown-menu .dropdown-item, .dropup .dropdown-menu .dropdown-item, .input-group .dropdown-menu .dropdown-item {
	font-size: .69rem;
}

.btn.btn-sm, a:link.btn.btn-sm {
    padding: 0.35rem .6rem;
    font-size: .69rem;
    height: 28px;
    line-height: 1rem;
}

.table-sm th, .table-sm td {
    padding: .3rem;
}

.table thead th {
    border-top: none;
    font-weight: 600;
}

.card .card-header {
	padding: 10px 15px;
}

small, .small {
    font-size: 65%;
    font-weight: 400;
}

.dataTables_info {
    font-size: .69rem;
}

.card {
    margin-bottom: 0.5rem;
}

.dataTables_processing {
    z-index: 1000;
}

.btn i, a:link.btn i {
    color: #ffffff;
}

.loading {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('../img/loading.gif')
                50% 50%
                no-repeat;
}

.btn.btn-lg, a:link.btn.btn-lg {
    padding: 25px 0px !important;
    height: 70px;
    word-wrap: break-word;
}

footer {
    position: fixed;
    /*left: 0;*/
    bottom: 0;
    width: 100%;
    margin-left: 140px: 
}

table.dataTable {
    border-collapse: collapse !important;
}

.table-bordered, .table-bordered td, .table-bordered th {
    border: 1px solid #6c757d;
}

.table thead th {
    border-bottom: 2px solid #6c757d;
}

.dataTables_length, .dataTables_filter {
    margin-top: 5px;
}

.dataTables_wrapper {
    padding-top: 5px;
}

/*.dataTables_scroll {
    border-left: 1px solid #e9ecef;
    border-right: 1px solid #e9ecef;
    border-bottom: 1px solid #e9ecef;
    border-collapse: collapse;
}*/

div.dataTables_scrollBody table thead .sorting:before,
div.dataTables_scrollBody table thead .sorting_asc:before,
div.dataTables_scrollBody table thead .sorting_desc:before,
table.dataTable.table-sm .sorting:before, table.dataTable.table-sm .sorting_asc:before, table.dataTable.table-sm .sorting_desc:before,
table.dataTable.table-sm .sorting:after, table.dataTable.table-sm .sorting_asc:after, table.dataTable.table-sm .sorting_desc:after {
    display: none;
}

table.dataTable thead > tr > th.sorting_asc, 
table.dataTable thead > tr > th.sorting_desc, 
table.dataTable thead > tr > th.sorting, 
table.dataTable thead > tr > td.sorting_asc, 
table.dataTable thead > tr > td.sorting_desc, 
table.dataTable thead > tr > td.sorting, 
table.dataTable thead > tr > th.sorting_disabled, 
table.dataTable thead > tr > td.sorting_disabled {
    padding-right: 3px;
    white-space: nowrap;
}

.toolbar {
    float: left;
    margin-top: 10px;
}